<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRM</title>
    {% load static %}
    <!-- Style -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{% static 'fundapp/back/assets/css/fresh-bootstrap-table.css' %}" rel="stylesheet" />

    <!-- Fonts and icons -->
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="fresh-table full-screen-table toolbar-color-blue">
        <!--
          Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
          Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
        -->
        <div class="toolbar">
          <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data" style="display: flex; align-items: center;">
            <p class="btn">Welcome, {{user.username}}</p>
            <a href="{% url 'signout' %}" class="btn btn-default">
              Log out
            </a>
            {% if request.user.is_staff %}
            {% csrf_token %}
            <input type="file" name="file" class="btn btn-default" accept=".csv">
            <button type="submit" class="btn btn-default">Upload CSV</button>
          </form>
          {% if request.GET.error %}
              <p>{{ request.GET.error }}</p>
          {% endif %}
          {% if request.GET.success %}
              <p>{{ request.GET.success }}</p>
          {% endif %}
          {% endif %}
        </div>
        
      
      
      
        <table id="fresh-table" class="table">
          <thead>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="name" data-sortable="true">Name</th>
            <th data-field="country" data-sortable="true">Country</th>
            <th data-field="phone" data-sortable="true">Phone</th>
            <th data-field="email" data-sortable="true">Email</th>
            <th data-field="source" data-sortable="true">Source</th>
            {% if request.user.is_staff %}
            <th data-field="actions">Actions</th>
            {% endif %}
            <!--<th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>-->
          </thead>
          <tbody>
            {%for user in users_data %}
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.country}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.email}}</td>
              <td>{{user.source}}</td>
              {% if request.user.is_staff %}
              <td>
                <a rel="tooltip" title="Edit" class="table-action edit" href="{% url 'edit' user.id %}" title="Edit">
                  <i class="fa fa-edit"></i>
                </a>
                <a rel="tooltip" title="Remove" class="table-action remove" href="{% url 'delete' user.id %}" title="Remove">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Javascript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>

<script type="text/javascript">
  var $table = $('#fresh-table')

  $(function () {
    $table.bootstrapTable({
      classes: 'table table-hover table-striped',
      toolbar: '.toolbar',

      search: true,
      showRefresh: false,
      showToggle: true,
      showColumns: true,
      pagination: true,
      striped: true,
      sortable: true,
      pageSize: 25,
      pageList: [8, 10, 25, 50, 100],

      formatShowingRows: function (pageFrom, pageTo, totalRows) {
        return ''
      },
      formatRecordsPerPage: function (pageNumber) {
        return pageNumber + ' rows visible'
      }
    })

  
  })

</script>
</body>
</html>