<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fund Reclaimers</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% load static %}
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'fundapp/front/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'fundapp/front/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'fundapp/front/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'fundapp/front/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'fundapp/front/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'fundapp/front/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'fundapp/front/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'fundapp/front/assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="{% url 'home' %}">Fund Reclaimers</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Reclaim the funds lost due to a scam.</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">If you've fallen victim to scammers, contact us, and our team of specialists will endeavor to retrieve your funds.</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'fundapp/front/assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">
        
        <div class="section-title" data-aos="fade-up">
          <h2>Our approach to retrieving our clients' funds.</h2>
        </div>
        
        <div class="row content">
          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="150">
            <p>
              We start by gathering vital information from scam victims, comprehensively understanding each case. Our expert recovery specialists and legal team then track and confront scammers, using various investigative methods to ensure accountability. With extensive experience, our dedicated efforts yield successful outcomes, assuring clients that their assets are vigorously protected.
            </p>
            <p>
              Initiating the recovery process begins with a brief conversation. Our specialized expertise drives our relentless pursuit to reclaim clients' assets. Throughout, we prioritize guiding and supporting clients, making their financial well-being our utmost concern.
            </p>
            <a href="#contact" class="btn-learn-more">Learn More</a>
          </div>
          
        </div>
        
      </div>
    </section><!-- End About Us Section -->
    
    
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">
        
        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
            <img src="{% static 'fundapp/front/assets/img/counts-img.svg' %}" alt="" class="img-fluid">
          </div>
          
          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="165" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Happy Clients</strong> who have experienced the satisfaction of our tailored solutions.</p>
                  </div>
                </div>
                
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Black listed companies & websites</strong> that have been identified and dealt with due to their deceptive practices, ensuring comprehensive protection for our clients.</p>
                  </div>
                </div>
                
                
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Years of experience</strong> in navigating complex situations, seeking solutions, and delivering exceptional results.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Awards</strong> recognizing our commitment to excellence, surpassing challenges, and ensuring the utmost satisfaction for our clients.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
        
        <div class="section-title" data-aos="fade-up">
          <h2>How it works</h2>
        </div>
        
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-file-find"></i></div>
              <h4 class="title"><a href="">Review your case</a></h4>
              <p class="description">Conducting initial evaluations to determine the potential for significant recovery based on our expertise.</p>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Gather the evidence</a></h4>
              <p class="description">Compiling all necessary information and documentation essential for effectively pursuing your case</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-shield-alt-2"></i></div>
              <h4 class="title"><a href="">Confront the entities</a></h4>
              <p class="description">Methodically addressing the pertinent entities that have facilitated the unauthorized transfer of your assets.</p>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bi bi-coin"></i></div>
              <h4 class="title"><a href="">Recover your funds.</a></h4>
              <p class="description">We are proud of our track record and guarantee our utmost efforts to recover your funds, going to extensive lengths if necessary.</p>
            </div>
          </div>
          
        </div>
        
      </div>
    </section><!-- End Services Section -->
    
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">
          <div>
            <h4>Scams from which our clients have successfully reclaimed their losses.
              
            </h4>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'fundapp/front/assets/img/scam_companies/logo-1.png' %}" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'fundapp/front/assets/img/scam_companies/logo-2.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'fundapp/front/assets/img/scam_companies/logo-3.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'fundapp/front/assets/img/scam_companies/logo-4.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'fundapp/front/assets/img/scam_companies/logo-5.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'fundapp/front/assets/img/scam_companies/logo-6.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'fundapp/front/assets/img/scam_companies/logo-7.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'fundapp/front/assets/img/scam_companies/logo-8.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'fundapp/front/assets/img/scam_companies/logo-9.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'fundapp/front/assets/img/scam_companies/logo-10.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'fundapp/front/assets/img/scam_companies/logo-11.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'fundapp/front/assets/img/scam_companies/logo-12.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->
    <!-- ======= More Services Section ======= -->
    <section id="more-services" class="more-services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card" style='background-image: url("{% static 'fundapp/front/assets/img/more-services-1.jpg' %}");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">What makes us the ideal choice?</a></h5>
                <p class="card-text">In brief: We exclusively handle cases with potential for significant recovery. Transparency is key; we openly evaluate each case. If unfeasible, we'll inform you. When there's a chance for full or partial recovery, we act promptly.</p>
                <div class="read-more"><a href="#contact"><i class="bi bi-arrow-right"></i> Learn More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("{% static 'fundapp/front/assets/img/moneyback.jpg' %}");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">Your money back guarantee</a></h5>
                <p class="card-text">The fund recovery process demands perseverance and time. Client readiness and trust in us at every stage are crucial. Should any doubts arise, clients can request a full refund within the initial 14 business days of the process.*</p>
                <div class="read-more"><a href="#contact"><i class="bi bi-arrow-right"></i> Learn More</a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("{% static 'fundapp/front/assets/img/more-services-3.jpg' %}");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">Be cautious of imitators and impostors.</a></h5>
                <p class="card-text">Fraudulent entities often impersonate authentic scam recovery firms, sometimes masquerading as Fund Reclaimer Ltd. Remember, our legitimate emails conclude with @Fund Reclaimer-ltd.com for verification.</p>
                <div class="read-more"><a href="#contact"><i class="bi bi-arrow-right"></i> Learn More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("{% static 'fundapp/front/assets/img/more-services-4.jpg' %}");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">Is your service provider legitimate?</a></h5>
                <p class="card-text">Utilize our Blacklist, containing over 11,000 flagged companies identified as scams or frauds by us and various regulatory bodies, to verify if your current service provider is listed.</p>
                <div class="read-more"><a href="#contact"><i class="bi bi-arrow-right"></i> Learn More</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End More Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>The types of scams we can help you with</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="bx bx-candles" style="color: #e80368;"></i>
              <h3><a href="">Binary options</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-currency-bitcoin" style="color: #ffbb2c"></i>
              <h3><a href="">Cryptocurrency</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-currency-exchange" style="color: #5578ff"></i>
              <h3><a href="">Forex</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-heartbreak-fill" style="color: #e361ff;"></i>
              <h3><a href="">Romance</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-buildings" style="color: #47aeff;"></i>
              <h3><a href="">Property Scams</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-credit-card" style="color: #ffa76e;"></i>
              <h3><a href="">Credit card phishing</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-graph-up-arrow" style="color: #11dbcf;"></i>
              <h3><a href="">Stock trading</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-three-dots" style="color: #4233ff;"></i>
              <h3><a href="">Other scams</a></h3>
            </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'fundapp/front/assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I can't thank this team enough! I was devastated after falling for an online scam, but their specialists worked tirelessly and managed to recover a significant portion of my lost funds. Their dedication and expertise turned a hopeless situation into a hopeful one. Highly recommended!                    
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'fundapp/front/assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    After being defrauded by a fraudulent investment scheme, I reached out to this team. From the start, their professionalism was evident. They guided me through the process and, to my surprise, successfully retrieved a substantial amount of my money. Their commitment to helping victims of scams is commendable!                    
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'fundapp/front/assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I was skeptical about the possibility of recovering my money after falling prey to an online scam. However, this team's persistence and knowledge in dealing with such situations were exceptional. They not only recovered a significant portion of my funds but also provided constant support and updates. Trustworthy and efficient service!                    
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'fundapp/front/assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I'm incredibly grateful to this team for their unwavering support and expertise in recovering my funds. After being scammed, I felt helpless, but their specialists reassured me and meticulously pursued the case. Their success in retrieving a portion of my lost money restored my faith and provided closure to an otherwise distressing experience.                    
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'fundapp/front/assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    When I was conned by an online fraud, I thought I had lost all hope of getting my money back. However, this team's proactive approach and determination were impressive. They communicated effectively throughout the process and managed to retrieve a substantial amount of the funds I thought were gone forever. Thank you for your dedication and professionalism!                    
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'fundapp/front/assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'fundapp/front/assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'fundapp/front/assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="{% static 'fundapp/front/assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="accordion" id="faq">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Learn more about Fund Reclaimer and the chargeback industry right here
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  Online scams proliferate among fraudulent internet merchants, targeting vulnerable individuals with untrustworthy transactions. Despite our efforts to protect ourselves, these deceitful practices sometimes cannot be thwarted.
                </p>
                <p>
                  Many online markets and traders adeptly pose as legitimate authorities, deceiving unsuspecting victims. Falling prey to such scams is not just financially distressing but also damages one's credibility as a buyer or trader. However, all hope is not lost.                  
                </p>
                <p>        
                  Fund Reclaimer's funds recovery program specializes in helping individuals reclaim what rightfully belongs to them after falling victim to trading scams or fraudulent trade platforms. While funds recovery is an effective method, it's essential to remain vigilant against recovery scams that circulate online amidst the deceptions and frauds on the internet.
                </p>
                <p>                 
                  As a legitimate wealth recovery expert, Fund Reclaimer assists victims worldwide in retrieving their funds, employing skilled experts in scam recovery. Their proficiency extends to the UK, offering comprehensive assistance. To discover more about Fund Reclaimer and the trade industry, delve into everything you need to know.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                The chargeback industry
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  First and foremost, a chargeback is characterized as the action or process of filing a request for retrieval of funds by the customer either with a bank.
                </p>
                <p>
                  Naturally, when a consumer buys something, he/she will provide the monetary price of the item or service that is required for the business transaction. However, on rare occasions, any consumer can file for a return of funds from the shop or merchant, either due to error in processing, disagreements, or possible fraud.
                </p>
                <p>
                  The chargeback method is created in consideration of the customer’s safety and protection from scams or any fraudulent scams in the marketplace. There are consumer protection codes in some parts of the world that make sure of the return of products in the case of detection of a scam.
                </p>
                <p>
                  Some shops require a tedious refund process to prevent consumers from asking for a refund since they would have to go through a lot of trouble just for repayment. Hence, the chargeback industry is useful in this account.
                </p>
                <p>
                  Rather than the conventional means of asking for the money back, the chargeback method asks the bank directly for a refund rather than the shop or merchant itself. Chargebacks are designed to provide consumers with security when shopping online and ensure that sellers remain transparent and prevent them from selling bogus products or services.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Funds recovery with Fund Reclaimer
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  Fund Reclaimer offers this kind of service with wealth recovery experts and fund recovery specialists – ensuring that you get your investments back from scammers. However, what really is funds recovery?
                </p>
                <p>
                  In a nutshell, funds recovery is a service that is both consultative and investigative in its approach. This is a service employed by victims that have been duped by online fraudulent crimes to retrieve their money from bogus merchants and trader scams.
                </p>
                <p>
                  Funds recovery services like Fund Reclaimer specialize in handling internet scams online and lend a hand in providing refunds and reimbursements to the targets through the use of arguments and disputes, along with digital fingerprints track downs, analysis of cyber transactions, and an in-depth investigation.
                </p>
                <p>
                  Companies that provide funds recovery services have a high chance of a successful crypto scam recovery, Bitcoin scam recovery, scam money recovery, and wealth recovery.
                </p>
                <p>
                  When Fund Reclaimer receives a complaint from victims, they immediately work and review the details of the situation. For a successful recovery, funds recovery review or scam recovery review of the claims must be done, and pieces of evidence must be gathered.
                </p>
                <p>
                  The complaint must be valid, and the terms and conditions of the company must be followed.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>Fund Reclaimer</h3>
              <p>Fund Reclaimer is your trusted ally in recovering lost funds resulting from scams. If you've been a victim of fraudulent activities, our dedicated team of specialists is here to assist you in reclaiming your money. Contact us today for expert support in retrieving funds and taking steps towards financial recovery.</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>support@fundreclaimer.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Fund Reclaimers</strong>. All Rights Reserved
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#hero" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'fundapp/front/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'fundapp/front/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'fundapp/front/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'fundapp/front/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'fundapp/front/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'fundapp/front/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'fundapp/front/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'fundapp/front/assets/js/main.js' %}"></script>

  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
  <div class="elfsight-app-459bfe64-7e54-410c-abac-b9c3713e95b9" data-elfsight-app-lazy></div>

</body>

</html>